
 #localVideo {
  /* width: 300px; */
  transform: rotateY(180deg);
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.remoteVideo{
  /* width: 300px;  */
  transform: rotateY(180deg);
  object-fit: cover;
  width: 100%;
  height: 100%;
}
 /* video {
  width: 360px;
  background-color: black;
  padding: 10;
  margin: 1px 1px;
}  */
.textFont{
  font-family: Poppins,'Segoe UI', Tahoma, Verdana, sans-serif;
}
.general__container {
  font-family: Poppins,'Segoe UI', Tahoma, Verdana, sans-serif;
    margin-top: 74px;
    height: 100vh;
    width: 100%;
    position: relative;
     margin-bottom: 50px;
  }
  
  #room__container {
    position: relative;
    display: flex;
    gap: 3rem;
  }
  
  #members__container {
    background-color: #fbfdfb;
    border-right: 1px solid #797a79;
    overflow-y: auto;
    width: 100%;
    max-width: 250px;
    position: fixed;
    height: 100%;
    z-index: 2;
  }
  
  #members__count {
    background-color: #2a62ca;
    border-radius: 50%;
    padding: 7px 15px;
    font-size: 14px;
    font-weight: 600;
    margin-left: 5px;
  }
  .avatar-60{
  height: 60px;
  } 
  .rounded-pill{
border-radius: 50%;
  }
  
  #members__header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 1rem;
    position: fixed;
    font-size: 18px;
    color: #000;
    background-color: inherit;
  }
  
  #member__list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 5rem;
    padding-bottom: 6.5rem;
    color: #000;
  }

  
  
  .members__list::-webkit-scrollbar {
    height: 14px;
  }
  
  .member__wrapper {
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding-left: 1em;
  }
  
  .green__icon {
    position: relative;
    display: block;
    bottom: -18px;
    right: 20px;
    height: 12px;
    width: 12px;
    border: 1px solid white;
    border-radius: 50%;
    background-color: #2aca3e;
  }
  
  .member_name{
    font-size: 14px;
    margin-left: -20px;
  }
  
  #messages__container {
    background-color: #fbfdfb;
     position: absolute;
    height: 100%;
    min-height:100vh;
    right: 0;
    width: 100%;
    max-width: 23rem;
    overflow-y: auto;
    border-left: 1px solid #111;
    z-index: 2;
  }
  
  #messages {
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }
  
  .message__wrapper:last-child {
    margin-bottom: 6.5rem;
  }
  
  .message__wrapper {
    gap: 10px;
    margin: 1em;
  }
  
  .message__body {
    border-radius: 10px;
    padding: 10px 15px;
    width: fit-content;
    max-width: 900px;
    background-color: rgb(197, 197, 197);
  }
  
  .messageFromPeer{
    display:flex;
    justify-content: end;
    height:100px;
    text-align: end;
  }
  
  .message__body__bot{
    padding: 0 20px;
    max-width: 900px;
    color: #0c0c0c;
  }
  
  
  .message__author {
    display: block;
    margin-right: 10px;
    color: #2a62ca!important;
  
  }
  
  .message__author__bot {
    margin-right: 10px;
    color: #2a62ca!important;
  
  }
  
  .message__text {
    margin: 0;
    color: #0c0c0c;
  }
  
  #message__form {
    width: 23rem;
    position: fixed;
    bottom: 0;
    display: block;
    padding: 1em;
  }
  
  #message__form input {
    color: #fff;
    width: 90%;
    border: none;
    border-radius: 5px;
    padding: 18px;
    font-size: 14px;
    box-sizing: border-box;
    background-color: #2a62ca;
    margin-left: -20px;
  }
  
  #message__form input:focus {
    outline: none;
  }
  
  #message__form input::placeholder {
    color: #dae2e2;
  }
  
  #stream__container {
    background-color: #1A1A1A;
    justify-content: center;
    width: 100%;
    left: 15.7rem;
    top: clac(100vh - 72px);
    overflow-y: auto;
    height: 100%;
    z-index: 1;
  }

  #stream__box{
    background-color: #3f434a;
    display: none;
    height: 60vh;
  }


  

  #stream__box .video__container{
  border: 2px solid #000;
  border-radius: 0;
  height: 100% !important;
  width: 100% !important;
  background-size: 300px;
  }
  #stream__box video{
    border-radius: 0;
    }

  #streams__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin-top: 25px;
    margin-bottom: 225px;
  }
  #videoContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
  }
  .video__container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #2a62ca;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
    height: 300px;
    width:300px ;
    background-image: url('https://t4.ftcdn.net/jpg/03/16/32/23/240_F_316322355_m8FC5EDRun5JOAAHD94CvW1uUScY5IFh.jpg');
   background-repeat: no-repeat;
   background-position: center;
   background-size: 75px;
  }
  .video-player {
   height: 100%;
   width: 100%;
  }
  .video-player video{
 /* border-radius: 50%; */
  }

  .video-player-screen-share {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
   }

  #leave-btn{
    background-color: rgb(238, 52, 52);
  }
  #chat__button {
    display: block;
  }

  #members__button {
    display: block;
  }
  
  @media (max-width: 1400px) {
    .video__container{
      height: 200px;
      width:200px ;
    }
  }
  @media (max-width: 1200px) {

    #messages__container {
      max-width: 22rem;
    }
  
    #message__form {
      width: 22rem;
    }
  }

 
  
  @media (max-width: 860px) {
    #stream__container {
      width: 100%;
    }

  
    #messages__container {
      display: none;
      z-index: 3;
    }
  
    
  }
  
  #stream__box {
    position: relative;
  }
  
  .stream__focus {
    width: 100%;
    height: 100%;
  }
  
  .stream__focus iframe {
    width: 100%;
    height: 100%;
  }
  
  .stream__actions {
    position: fixed;
    bottom: 1rem;
    border-radius: 8px;
    background-color: #1a1a1a;
    padding: 1rem;
    left: 50%;
    display: flex;
    gap: 1rem;
    transform: translateX(-50%);
  }
  
  .stream__actions a,
  .stream__actions button {
    cursor: pointer;
    background-color: #262625;
    color: #fff;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
  }
  
  .stream__actions a svg,
  .stream__actions button svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: #ede0e0;
  }
  
  .stream__actions .active,
  .stream__actions button .active,
  .stream__actions a:hover,
  .stream__actions button:hover {
    background-color: #2a62ca;
  }

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
main {
  background-color: #1a1a1a;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #797a79;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2a62ca;
}



p,
a {
  font-weight: 300;
}

.avatar__md {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.avatar__sm {
  height: 30px;
  width: 30px;
  object-fit: cover;
  border-radius: 50%;
}

#nav {
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #000000;
  background-color: #1a1a1a;
  text-decoration: none;
  padding: 16px 5%;
  z-index: 999;
}

#logo {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 22px;
  font-weight: 700;
  line-height: 0;
  margin: 0;
  color: #ebe0e0;
}

@media (max-width: 640px) {
  #logo span {
    display: none;
  }
}

#logo img {
  height: 42px;
}

#nav a {
  text-decoration: none;
}

#nav__links {
  display: flex;
  align-items: center;
  column-gap: 2em;
}

.nav__link {
  color: #fff;
  text-decoration: none;
  transition: 1s;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease-in-out;
  padding-bottom: 1px;
}

@media (max-width: 520px) {
  #nav__links {
    column-gap: 3em;
  }
}

.nav__link:hover {
  color: rgb(230, 228, 228);
  text-decoration: none;
  border-color: #2a62ca;
}

#create__room__btn {
  display: block;
  background-color: #2a62ca;
  padding: 8px 24px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 5px;
}

#create__room__btn:hover {
  background-color: #2a62ca;
}

.nav--list {
  display: flex;
  gap: 1rem;
  align-items: center;
}

#members__button,
#chat__button {
  cursor: pointer;
  background: transparent;
  border: none;
}

#members__button:hover svg > path,
#chat__button:hover svg,
.nav__link:hover svg {
  fill: #2a62ca;
}

.nav__link svg {
  width: 0;
  height: 0;
}

@media (max-width: 640px) {
  #members__button {
    display: block;
  }

  .nav__link svg {
    width: 1.5rem;
    height: 1.5rem;
  }
  .nav__link,
  #create__room__btn {
    font-size: 0;
    border: none;
  }

  #create__room__btn {
    padding: 0;
    background-color: transparent;
    border-radius: 50%;
  }

  #create__room__btn:hover {
    background-color: transparent;
  }
}

  